
.main-container .banner .banner-container .nav-bar .row {
    flex-direction: column;  
    align-items: center;
    text-align: center;
}
.main-container .banner .banner-container .nav-bar .row .logo {
   order: 1;
}
.main-container .banner .banner-container .nav-bar .row .top-bar-left{
    order: 2;
}
.main-container .banner .banner-container .nav-bar .row .top-bar-right{
    order: 3;
}

.main-container .service-section {
    padding: 15px;
}
.main-container .service-section .service-details{
    display: block;
    width: 100%;
    margin: 0 auto; 
}
.main-container .service-section .service-details .service-col{
    width: 100%;
}

.main-container .best-class-club .row .best-class-club-desc .row .col-lg-4 {
    flex: 0;
}
.main-container .best-class-club .row {
    flex-direction: column;
}
.main-container .best-class-club .row .best-class-club-img{
    margin: 20px;
}
.main-container .yoga-place-section .inside-container .row , .main-container .trainer-section .inside-container .row{
    flex-direction: column;  
}
.main-container .yoga-place-section .inside-container .row  .col-lg-3 , .main-container .trainer-section .inside-container .row .col-lg-3{
    padding: 10px;
}
.main-container .footer .inside-container{
    flex-direction: column;
}
.main-container .footer .inside-container .col-md-6{
    padding: 10px;
}

