@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #555;
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;
    text-align: left;
}

.main-container {
    max-width: 1920px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;

    //banner section start

    .banner {
        background-image: url(../img/yoga-header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: auto;
        color: #fff;
        position: relative;

        .banner-container {
            background-color: #00000085;

            .nav-bar {
                padding: 26px 15px;
                border-bottom: 1px solid #fff;
                max-width: 940px;
                width: 100%;
                height: auto;
                margin: 0 auto;

                .row {
                    display: flex;
                    flex-wrap: wrap;
                    margin-right: -15px;
                    margin-left: -15px;

                    .cal-md-4 {
                        position: relative;
                        width: 100%;
                        margin: 10px;
                        padding-right: 15px;
                        padding-left: 15px;

                    }

                    .top-bar-left,
                    .top-bar-right {
                        padding: 24px 15px 0;

                        flex: 0 0 33.333333%;
                        max-width: 33.333333%;

                        i {
                            font-size: 1.2rem;
                            color: black;
                            background-color: white;
                            border-radius: 50%;
                            padding: 5px;
                        }

                        a {
                            font-family: 'Josefin Sans', sans-serif;
                            font-size: 1.2rem;
                            color: white;
                            text-decoration: none;
                            padding: 5px
                        }

                    }

                    .logo {
                        text-align: center;
                        padding: 5px 15px;
                        flex: 0 0 33.333333%;
                        max-width: 33.333333%;

                        img {}
                    }

                    .top-bar-right {
                        text-align: right;
                    }
                }

                // hr {
                //     background-color: #555;
                //     border-bottom: none;
                // }

            }
        }

        .hero-section {
            width: 100%;
            text-align: center;

            .content-section {

                .content-title {
                    margin-top: 4rem;
                    margin-bottom: 3rem;
                    padding: 20px;

                    h1 {
                        font-family: 'Josefin Sans', sans-serif;
                        font-weight: bold;
                        font-size: 3rem;
                        line-height: 1.4;
                        padding: 30px;

                    }

                    p {
                        font-size: 1rem;
                        margin-bottom: 10px;
                    }

                    button {
                        font-family: 'Josefin Sans', sans-serif;
                        font-size: 20px;
                        line-height: 25px;
                        letter-spacing: 0.6px;
                        font-weight: 700;
                        padding: 21px 32px 19px;
                        background-color: #fe86d4;
                        color: #fff;
                        border-radius: 3px;
                        text-transform: uppercase;
                        border: none;
                        margin-top: 30px;
                        margin-bottom: 4rem;
                    }

                    & button:hover {
                        color: #fe86d4;
                        background-color: white;
                    }
                }
            }

        }
    }

    // start service section 
    .service-section {
        margin-top: 4rem;
        text-align: center;

        .section-details {

            h2 {
                font-family: 'Roboto Slab', serif;
                font-size: 28px;
                line-height: 40px;
                letter-spacing: 0.84px;
                font-weight: 700;
                color: #7b6cd5;
                text-align: center;
            }

            p {
                font-size: 15px;
                line-height: 40px;
                font-weight: 400;
                letter-spacing: 0.45px;
                color: #666;
                text-align: center;
            }
        }

        .service-details {
            display: flex;
            flex-wrap: wrap;
            margin: 3rem 6rem;

            .service-col {
                flex: 0 0 33.333333%;
                max-width: 33.333333%;
                position: relative;
                width: 100%;
                padding-right: 15px;
                padding-left: 15px;

                img {
                    text-align: center;
                }

                a {
                    text-decoration: none;
                    color: #555;
                    cursor: pointer;
                }

                p {
                    font-family: inherit;
                    font-size: inherit;
                    line-height: 25px;
                    font-weight: 400;
                    letter-spacing: 0.40px;
                }
            }
        }
    }

    // Class Yoga Center  
    .best-class-club {

        .row {
            display: flex;
            flex-wrap: wrap;

            .best-class-club-desc {
                background-color: #f5f5f5;
                padding: 60px 15px;
                flex: 0 0 50%;
                max-width: 50%;
                position: relative;
                width: 100%;

                .row {
                    display: flex;
                    flex-wrap: wrap;

                    .col-lg-4 {
                        flex: 0 0 33.333333%;
                        max-width: 33.333333%;
                        position: relative;
                        width: 100%;
                        padding-right: 15px;
                        padding-left: 15px;
                    }

                    .detail-col-club {
                        padding-bottom: 10px;
                        flex: 0 0 66.666667%;
                        max-width: 66.666667%;
                        position: relative;
                        width: 100%;
                        padding-right: 15px;
                        padding-left: 15px;

                        h2 {
                            font-family: 'Roboto Slab', serif;
                            font-size: 28px;
                            line-height: 40px;
                            color: #7b6cd5;
                            font-weight: 600;
                            text-align: left;
                        }

                        ul {
                            list-style: none;
                            padding: 0;
                            margin: 20px 0 13px;

                            li {
                                padding-left: 1.3em;
                                margin-bottom: 10px;
                            }

                            & li::before {
                                content: "\f0e7";
                                font-family: "Font Awesome 5 Free";
                                font-weight: 900;
                                display: inline-block;
                                margin-left: -1.3em;
                                width: 1.3em;
                                font-size: 12px;
                                line-height: 40px;
                                color: #7b6cd5;
                            }
                        }
                    }
                }
            }

            .best-class-club-img {
                background-image: url("img/the-best-class-yoga.jpg");
                background-size: cover;
                background-position: center right;
                background-repeat: no-repeat;
                flex: 0 0 50%;
                max-width: 50%;
            }

        }
    }

    // yoga place
    .yoga-place-section {
        padding: 60px 15px;
        background-color: #fff;
        text-align: center;

        .section-details {
            margin: 0 0 55px;

            h2 {
                font-family: 'Roboto Slab', serif;
                font-size: 28px;
                line-height: 40px;
                letter-spacing: 0.84px;
                font-weight: 700;
                color: #7b6cd5;
                text-align: center;
            }

            p {
                font-size: 15px;
                line-height: 40px;
                font-weight: 400;
                letter-spacing: 0.45px;
                color: #666;
                text-align: center;
            }
        }

        .inside-container {
            max-width: 940px;
            width: 100%;
            height: auto;
            margin: 0 auto;
            padding: 0 15px;

            .row {
                display: flex;
                flex-wrap: wrap;
                margin-right: -15px;
                margin-left: -15px;

                .col-lg-3 {
                    flex: 0 0 25%;
                    max-width: 25%;
                    position: relative;
                    width: 100%;
                    padding-right: 15px;
                    padding-left: 15px;

                    .yogaPlace-img {
                        width: 145px;
                        height: 145px;
                        background-color: #fff;
                        border-radius: 50%;
                        margin: 0 auto 18px;
                        overflow: hidden;

                        img {
                            max-width: 145px;
                            border-radius: 50%;
                            border-style: none;
                        }
                    }

                    a {
                        text-decoration: none;
                        color: #555;
                        cursor: pointer;

                        h3 {
                            font-family: 'Josefin Sans', sans-serif;
                            font-size: 22px;
                            line-height: 40px;
                            letter-spacing: 0.88px;
                            font-weight: 600;
                            color: #434343;
                        }
                    }

                    p {
                        font-family: inherit;
                        font-size: 15px;
                        line-height: 25px;
                        letter-spacing: 0.45px;
                        font-weight: 400;
                        color: #666;
                    }
                }
            }
        }
    }

    // start trainer section 
    .trainer-section {
        padding: 60px 15px;
        background-color: #f5f5f5;
        text-align: center;

        .section-details {
            margin: 0 0 55px;

            h2 {
                font-family: 'Roboto Slab', serif;
                font-size: 28px;
                line-height: 40px;
                letter-spacing: 0.84px;
                font-weight: 700;
                color: #7b6cd5;
                text-align: center;
            }

            p {
                font-size: 15px;
                line-height: 40px;
                font-weight: 400;
                letter-spacing: 0.45px;
                color: #666;
                text-align: center;
            }
        }

        .inside-container {
            max-width: 940px;
            width: 100%;
            height: auto;
            margin: 0 auto;
            padding: 0 15px;

            .row {
                display: flex;
                flex-wrap: wrap;
                margin-right: -15px;
                margin-left: -15px;

                .col-lg-3 {
                    flex: 0 0 25%;
                    max-width: 25%;
                    position: relative;
                    width: 100%;
                    padding-right: 15px;
                    padding-left: 15px;

                    .yogaPlace-img {
                        width: 145px;
                        height: 145px;
                        background-color: #fff;
                        border-radius: 50%;
                        margin: 0 auto 18px;
                        overflow: hidden;

                        img {
                            max-width: 145px;
                            border-radius: 50%;
                            border-style: none;
                        }
                    }

                    a {
                        text-decoration: none;
                        color: #555;
                        cursor: pointer;

                        h3 {
                            font-family: 'Josefin Sans', sans-serif;
                            font-size: 22px;
                            line-height: 40px;
                            letter-spacing: 0.88px;
                            font-weight: 600;
                            color: #434343;
                        }
                    }

                    p {
                        font-family: inherit;
                        font-size: 15px;
                        line-height: 25px;
                        letter-spacing: 0.45px;
                        font-weight: 400;
                        color: #666;
                    }
                }
            }
        }
    }

    // join us section 
    .join-us-section {
        padding: 55px 15px;
        text-align: center;
        width: 100%;
        height: auto;
        margin: 2rem 0;


        .sections-detail {
            margin: 0 0 55px;

            h2 {
                font-family: 'Roboto Slab', serif;
                font-size: 28px;
                line-height: 40px;
                letter-spacing: 0.84px;
                font-weight: 700;
                color: #7b6cd5;
                text-align: center;
            }

            p {
                font-size: 15px;
                line-height: 40px;
                font-weight: 400;
                letter-spacing: 0.45px;
                color: #666;
                text-align: center;
            }
        }

        .join-section {
            position: relative;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;

            .join-us-btn {
                font-family: 'Josefin Sans', sans-serif;
                font-size: 20px;
                line-height: 25px;
                letter-spacing: 0.6px;
                font-weight: 700;
                color: #fff;
                text-transform: uppercase;
                background-color: #7b6cd5;
                border: 1px solid #7b6cd5;
                border-radius: 3px;
                padding: 21px 52px 19px 53px;
                text-decoration: none;

                cursor: pointer;
            }

            .join-us-call {
                font-family: inherit;
                font-size: 16px;
                line-height: 40px;
                letter-spacing: 0.64px;
                margin-top: 22px;

                a {
                    font-family: inherit;
                    font-size: 18px;
                    line-height: inherit;
                    letter-spacing: inherit;
                    font-weight: 600;
                    color: #222;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }
    }

    // footer section 
    .footer {
        padding: 50px 15px;
        background-color: #7b6cd5;
        color: #fff;
        font-size: 14px;

        .inside-container {
            display: flex;
            text-align: center;

            .col-md-6 {
                flex: 50%;
                justify-content: center;
                font-size: 1rem;
            }

            .copyright {


                p {

                    width: 100%;
                    text-align: center;

                    a {
                        text-decoration: none;
                        color: #fff;
                    }

                    & a:hover {
                        color: #fe86d4
                    }
                }
            }

            .socialMedia {

                a {
                    color: #fff;
                    padding: 10px;
                    margin: 0 5px;
                }
            }
        }

    }
}