@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #555;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  text-align: left;
}

.main-container {
  max-width: 1920px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}
.main-container .banner {
  background-image: url(./img/yoga-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: auto;
  color: #fff;
  position: relative;
}
.main-container .banner .banner-container {
  background-color: rgba(0, 0, 0, 0.5215686275);
}
.main-container .banner .banner-container .nav-bar {
  padding: 26px 15px;
  border-bottom: 1px solid #fff;
  max-width: 1000px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.main-container .banner .banner-container .nav-bar .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.main-container .banner .banner-container .nav-bar .row .cal-md-4 {
  position: relative;
  width: 100%;
  margin: 10px;
  padding-right: 15px;
  padding-left: 15px;
}
.main-container .banner .banner-container .nav-bar .row .top-bar-left,
.main-container .banner .banner-container .nav-bar .row .top-bar-right {
  padding: 24px 15px 0;
  text-align: center;
  flex: 1;
}
.main-container .banner .banner-container .nav-bar .row .top-bar-left i,
.main-container .banner .banner-container .nav-bar .row .top-bar-right i {
  font-size: 1.2rem;
  color: black;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
}
.main-container .banner .banner-container .nav-bar .row .top-bar-left a,
.main-container .banner .banner-container .nav-bar .row .top-bar-right a {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  padding: 5px;
}
.main-container .banner .banner-container .nav-bar .row .logo {
  text-align: center;
  padding: 5px 15px;
  flex: 1;
}
.main-container .banner .hero-section {
  width: 100%;
  text-align: center;
}
.main-container .banner .hero-section .content-section .content-title {
  margin-top: 4rem;
  margin-bottom: 3rem;
  padding: 20px;
}
.main-container .banner .hero-section .content-section .content-title h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.4;
  padding: 30px;
}
.main-container .banner .hero-section .content-section .content-title p {
  font-size: 1rem;
  margin-bottom: 10px;
}
.main-container .banner .hero-section .content-section .content-title button {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.6px;
  font-weight: 700;
  padding: 21px 32px 19px;
  background-color: #fe86d4;
  color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
  border: none;
  margin-top: 30px;
  margin-bottom: 4rem;
}
.main-container .banner .hero-section .content-section .content-title button:hover {
  color: #fe86d4;
  background-color: white;
}
.main-container .service-section {
  margin-top: 4rem;
  text-align: center;
}
.main-container .service-section .section-details h2 {
  font-family: "Roboto Slab", serif;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.84px;
  font-weight: 700;
  color: #7b6cd5;
  text-align: center;
}
.main-container .service-section .section-details p {
  font-size: 15px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 0.45px;
  color: #666;
  text-align: center;
}
.main-container .service-section .service-details {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 6rem;
}
.main-container .service-section .service-details .service-col {
  flex: 1;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.main-container .service-section .service-details .service-col img {
  text-align: center;
}
.main-container .service-section .service-details .service-col a {
  text-decoration: none;
  color: #555;
  cursor: pointer;
}
.main-container .service-section .service-details .service-col p {
  font-family: inherit;
  font-size: inherit;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 0.4px;
}
.main-container .best-class-club .row {
  display: flex;
  flex-wrap: wrap;
}
.main-container .best-class-club .row .best-class-club-desc {
  background-color: #f5f5f5;
  padding: 60px 15px;
  flex: 1;
  position: relative;
  width: 100%;
}
.main-container .best-class-club .row .best-class-club-desc .row {
  display: flex;
  flex-wrap: wrap;
}
.main-container .best-class-club .row .best-class-club-desc .row .col-lg-4 {
  flex: 1;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.main-container .best-class-club .row .best-class-club-desc .row .detail-col-club {
  padding-bottom: 10px;
  flex: 2;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.main-container .best-class-club .row .best-class-club-desc .row .detail-col-club h2 {
  font-family: "Roboto Slab", serif;
  font-size: 28px;
  line-height: 40px;
  color: #7b6cd5;
  font-weight: 600;
  text-align: left;
}
.main-container .best-class-club .row .best-class-club-desc .row .detail-col-club ul {
  list-style: none;
  padding: 0;
  margin: 20px 0 13px;
}
.main-container .best-class-club .row .best-class-club-desc .row .detail-col-club ul li {
  padding-left: 1.3em;
  margin-bottom: 10px;
}
.main-container .best-class-club .row .best-class-club-desc .row .detail-col-club ul li::before {
  content: "\f0e7";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
  font-size: 12px;
  line-height: 40px;
  color: #7b6cd5;
}
.main-container .best-class-club .row .best-class-club-img {
  flex: 1;
}
.main-container .best-class-club .row .best-class-club-img img {
  width: 100%;
}
.main-container .yoga-place-section {
  padding: 60px 15px;
  background-color: #fff;
  text-align: center;
}
.main-container .yoga-place-section .section-details {
  margin: 0 0 55px;
}
.main-container .yoga-place-section .section-details h2 {
  font-family: "Roboto Slab", serif;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.84px;
  font-weight: 700;
  color: #7b6cd5;
  text-align: center;
}
.main-container .yoga-place-section .section-details p {
  font-size: 15px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 0.45px;
  color: #666;
  text-align: center;
}
.main-container .yoga-place-section .inside-container {
  max-width: 940px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 15px;
}
.main-container .yoga-place-section .inside-container .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.main-container .yoga-place-section .inside-container .row .col-lg-3 {
  flex: 1;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.main-container .yoga-place-section .inside-container .row .col-lg-3 .yogaPlace-img {
  width: 145px;
  height: 145px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 auto 18px;
  overflow: hidden;
}
.main-container .yoga-place-section .inside-container .row .col-lg-3 .yogaPlace-img img {
  max-width: 145px;
  border-radius: 50%;
  border-style: none;
}
.main-container .yoga-place-section .inside-container .row .col-lg-3 a {
  text-decoration: none;
  color: #555;
  cursor: pointer;
}
.main-container .yoga-place-section .inside-container .row .col-lg-3 a h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  line-height: 40px;
  letter-spacing: 0.88px;
  font-weight: 600;
  color: #434343;
}
.main-container .yoga-place-section .inside-container .row .col-lg-3 p {
  font-family: inherit;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.45px;
  font-weight: 400;
  color: #666;
}
.main-container .trainer-section {
  padding: 60px 15px;
  background-color: #f5f5f5;
  text-align: center;
}
.main-container .trainer-section .section-details {
  margin: 0 0 55px;
}
.main-container .trainer-section .section-details h2 {
  font-family: "Roboto Slab", serif;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.84px;
  font-weight: 700;
  color: #7b6cd5;
  text-align: center;
}
.main-container .trainer-section .section-details p {
  font-size: 15px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 0.45px;
  color: #666;
  text-align: center;
}
.main-container .trainer-section .inside-container {
  max-width: 940px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 15px;
}
.main-container .trainer-section .inside-container .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.main-container .trainer-section .inside-container .row .col-lg-3 {
  flex: 1;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.main-container .trainer-section .inside-container .row .col-lg-3 .yogaPlace-img {
  width: 145px;
  height: 145px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 auto 18px;
  overflow: hidden;
}
.main-container .trainer-section .inside-container .row .col-lg-3 .yogaPlace-img img {
  max-width: 145px;
  border-radius: 50%;
  border-style: none;
}
.main-container .trainer-section .inside-container .row .col-lg-3 a {
  text-decoration: none;
  color: #555;
  cursor: pointer;
}
.main-container .trainer-section .inside-container .row .col-lg-3 a h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  line-height: 40px;
  letter-spacing: 0.88px;
  font-weight: 600;
  color: #434343;
}
.main-container .trainer-section .inside-container .row .col-lg-3 p {
  font-family: inherit;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.45px;
  font-weight: 400;
  color: #666;
}
.main-container .join-us-section {
  padding: 55px 15px;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 2rem 0;
}
.main-container .join-us-section .sections-detail {
  margin: 0 0 55px;
}
.main-container .join-us-section .sections-detail h2 {
  font-family: "Roboto Slab", serif;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.84px;
  font-weight: 700;
  color: #7b6cd5;
  text-align: center;
}
.main-container .join-us-section .sections-detail p {
  font-size: 15px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 0.45px;
  color: #666;
  text-align: center;
}
.main-container .join-us-section .join-section {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.main-container .join-us-section .join-section .join-us-btn {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.6px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  background-color: #7b6cd5;
  border: 1px solid #7b6cd5;
  border-radius: 3px;
  padding: 21px 52px 19px 53px;
  text-decoration: none;
  cursor: pointer;
}
.main-container .join-us-section .join-section .join-us-call {
  font-family: inherit;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.64px;
  margin-top: 22px;
}
.main-container .join-us-section .join-section .join-us-call a {
  font-family: inherit;
  font-size: 18px;
  line-height: inherit;
  letter-spacing: inherit;
  font-weight: 600;
  color: #222;
  text-decoration: none;
  cursor: pointer;
}
.main-container .footer {
  padding: 50px 15px;
  background-color: #7b6cd5;
  color: #fff;
  font-size: 14px;
}
.main-container .footer .inside-container {
  display: flex;
  text-align: center;
}
.main-container .footer .inside-container .col-md-6 {
  flex: 1;
  justify-content: center;
  font-size: 1rem;
}
.main-container .footer .inside-container .copyright p {
  width: 100%;
  text-align: center;
}
.main-container .footer .inside-container .copyright p a {
  text-decoration: none;
  color: #fff;
}
.main-container .footer .inside-container .copyright p a:hover {
  color: #fe86d4;
}
.main-container .footer .inside-container .socialMedia a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}/*# sourceMappingURL=style.css.map */
