@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #555;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  text-align: left;
}

.main-container {
  max-width: 1920px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}
.main-container .banner {
  background-image: url(../img/yoga-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: auto;
  color: #fff;
  position: relative;
}
.main-container .banner .nav-bar {
  padding: 26px 15px;
  border-bottom: 1px solid #fff;
  max-width: 940px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.main-container .banner .nav-bar .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.main-container .banner .nav-bar .row .cal-md-4 {
  position: relative;
  width: 100%;
  margin: 10px;
  padding-right: 15px;
  padding-left: 15px;
}
.main-container .banner .nav-bar .row .top-bar-left,
.main-container .banner .nav-bar .row .top-bar-right {
  padding: 24px 15px 0;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.main-container .banner .nav-bar .row .top-bar-left i,
.main-container .banner .nav-bar .row .top-bar-right i {
  font-size: 1.2rem;
  color: black;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
}
.main-container .banner .nav-bar .row .top-bar-left a,
.main-container .banner .nav-bar .row .top-bar-right a {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  padding: 5px;
}
.main-container .banner .nav-bar .row .logo {
  text-align: center;
  padding: 5px 15px;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.main-container .banner .nav-bar .row .top-bar-right {
  text-align: right;
}
.main-container .banner .hero-section {
  width: 100%;
  text-align: center;
}
.main-container .banner .hero-section .content-section .content-title {
  margin-top: 4rem;
  margin-bottom: 3rem;
  padding: 20px;
}
.main-container .banner .hero-section .content-section .content-title h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.4;
  padding: 30px;
}
.main-container .banner .hero-section .content-section .content-title p {
  font-size: 1rem;
  margin-bottom: 10px;
}
.main-container .banner .hero-section .content-section .content-title button {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.6px;
  font-weight: 700;
  padding: 21px 32px 19px;
  background-color: #fe86d4;
  color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
  border: none;
  margin-top: 30px;
  margin-bottom: 4rem;
}
.main-container .banner .hero-section .content-section .content-title button:hover {
  color: #fe86d4;
  background-color: white;
}
.main-container .service-section {
  margin-top: 4rem;
  text-align: center;
}
.main-container .service-section .section-details h2 {
  font-family: "Roboto Slab", serif;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.84px;
  font-weight: 700;
  color: #7b6cd5;
  text-align: center;
}
.main-container .service-section .section-details p {
  font-size: 15px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 0.45px;
  color: #666;
  text-align: center;
}
.main-container .service-section .service-details {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 6rem;
}
.main-container .service-section .service-details .service-col {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.main-container .service-section .service-details .service-col img {
  text-align: center;
}
.main-container .service-section .service-details .service-col a {
  text-decoration: none;
  color: #555;
  cursor: pointer;
}
.main-container .service-section .service-details .service-col p {
  font-family: inherit;
  font-size: inherit;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 0.4px;
}/*# sourceMappingURL=style.css.map */