@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #555;
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;
    text-align: left;
}

.main-container {
    max-width: 1920px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;

    //banner section start

    .banner {
        background-image: url(../img/yoga-header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: auto;
        color: #fff;
        position: relative;

        .nav-bar {
            padding: 26px 15px;
            border-bottom: 1px solid #fff;
            max-width: 940px;
            width: 100%;
            height: auto;
            margin: 0 auto;

            .row {
                display: flex;
                flex-wrap: wrap;
                margin-right: -15px;
                margin-left: -15px;

                .cal-md-4 {
                    position: relative;
                    width: 100%;
                    margin: 10px;
                    padding-right: 15px;
                    padding-left: 15px;
                }

                .top-bar-left,
                .top-bar-right {
                    padding: 24px 15px 0;

                    flex: 0 0 33.333333%;
                    max-width: 33.333333%;

                    i {
                        font-size: 1.2rem;
                        color: black;
                        background-color: white;
                        border-radius: 50%;
                        padding: 5px;
                    }

                    a {
                        font-family: 'Josefin Sans', sans-serif;
                        font-size: 1.2rem;
                        color: white;
                        text-decoration: none;
                        padding: 5px
                    }

                }

                .logo {
                    text-align: center;
                    padding: 5px 15px;
                    flex: 0 0 33.333333%;
                    max-width: 33.333333%;

                    img {}
                }

                .top-bar-right {
                    text-align: right;
                }
            }

            // hr {
            //     background-color: #555;
            //     border-bottom: none;
            // }

        }

        .hero-section {
            width: 100%;
            text-align: center;

            .content-section {

                .content-title {
                    margin-top: 4rem;
                    margin-bottom: 3rem;
                    padding: 20px;

                    h1 {
                        font-family: 'Josefin Sans', sans-serif;
                        font-weight: bold;
                        font-size: 3rem;
                        line-height: 1.4;
                        padding: 30px;

                    }

                    p {
                        font-size: 1rem;
                        margin-bottom: 10px;
                    }

                    button {
                        font-family: 'Josefin Sans', sans-serif;
                        font-size: 20px;
                        line-height: 25px;
                        letter-spacing: 0.6px;
                        font-weight: 700;
                        padding: 21px 32px 19px;
                        background-color: #fe86d4;
                        color: #fff;
                        border-radius: 3px;
                        text-transform: uppercase;
                        border: none;
                        margin-top: 30px;
                        margin-bottom: 4rem;
                    }

                    & button:hover {
                        color: #fe86d4;
                        background-color: white;
                    }
                }
            }

        }
    }

    // start service section 
    .service-section {
        margin-top: 4rem;
        text-align: center;

        .section-details {

            h2 {
                font-family: 'Roboto Slab', serif;
                font-size: 28px;
                line-height: 40px;
                letter-spacing: 0.84px;
                font-weight: 700;
                color: #7b6cd5;
                text-align: center;
            }

            p {
                font-size: 15px;
                line-height: 40px;
                font-weight: 400;
                letter-spacing: 0.45px;
                color: #666;
                text-align: center;
            }
        }

        .service-details {
            display: flex;
            flex-wrap: wrap;
            margin: 3rem 6rem;

            .service-col {
                flex: 0 0 33.333333%;
                max-width: 33.333333%;
                position: relative;
                width: 100%;
                padding-right: 15px;
                padding-left: 15px;

                img {
                    text-align: center;
                }

                a {
                    text-decoration: none;
                    color: #555;
                    cursor: pointer;
                }

                p {
                    font-family: inherit;
                    font-size: inherit;
                    line-height: 25px;
                    font-weight: 400;
                    letter-spacing: 0.40px;
                }
            }

        }
    }
}